[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=RSS Plugin
Comment=RSS plugin for xfce4-panel.
Icon=rssplugin
X-XFCE-Module=rssplugin
X-XFCE-Internal=FALSE
X-XFCE-Unique=false
X-XFCE-API=2.0
